.nav-bar-container {
  height: 75px;
  width: 100vw;
  margin: 50px auto;
  padding: 10px 50px;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-items-before-login {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-bar-items-before-login li {
  margin: 0 5px;
}

.nav-bar-items-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}