.nav-bar-container {
  height: 100px;
  width: 100vw;
  margin: 50px auto;
  padding: 10px 10%;
  box-sizing: border-box;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-container h1 {
  box-sizing: border-box;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 48px;
}

.nav-bar-items-before-login {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-bar-items-before-login li {
  margin: 0 10px;
}

.nav-bar-items-after-login {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.group-index-name {
  user-select: none;
}